MONGO_URL=mongodb+srv://Cluster27758:b3V1U1xcTmhV@cluster27758.wwfx0t8.mongodb.net/?appName=Cluster27758
DB_NAME=promosmart_db
CORS_ORIGINS=*
EMERGENT_LLM_KEY=your-emergent-llm-key-here
JWT_SECRET=change-this-secret-in-production
JWT_ALGORITHM=HS256
